<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title> Evgeniia </title>
	{*<meta charset="utf-8">*}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/project.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/form.css">

	{*<link rel="stylesheet" type="text/css" href="css/highslide.css">*}

	{*<link rel="stylesheet" href=" "/>*}
	<script src="js/highslide.js"></script>
	<script src="js/script.js"></script>
	<script src="/path/to/netteForms.js"></script>

</head>

<body>
	{*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}

	{*<div style="width: 100%; height: 100%";>*}
		{include content}
	{*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}

	{*</div>*}

	{*{block scripts}*}
	{*<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>*}
	{*{/block}*}
</body>
</html>
