<!DOCTYPE html>
<html lang="EN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title> Evgeniia </title>
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/project.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/form.css">


	<script src="js/highslide.js"></script>
	<script src="js/script.js"></script>
	<script src="{$basePath}/js/form.js"></script>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap..."></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.mi.."></script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

		{include content}

</body>
</html>
