
/*REGISTRACE*/
/*warning "Password must be 4-8 digits long" na strance Registrace*/
.warningPassword{
    text-align: left;
    font-size: small;
    padding-left: 3%;
}
/*fieldset na strance Registrace a LOG IN*/
#reg{
    position: absolute;
    right: 20%;
    left: 20%;
    height: 300px;
    padding-bottom: 1%;
    background: rgba(255, 52, 0, 0.59);
    border: 2px solid;
}

/*label*/
label {
    margin: 0.5em;
    display: block;
    font-size: 30px;
}


/*input na strance Registrace a LOG IN*/
.form input{
    position: absolute;
    left: 50%;
    margin: 0.6em;
}


/*FOTKA POZADI na vsech strankach krome Homepage*/

.forumPage {
    height: 1000px;
    min-height: 100%;
    background-image: url(../../www/forumImages/IXH0NSHLlrw.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    background-attachment: fixed;
    background-color: #c7b39b;
    overflow: hidden;
}
html {
    height: 100%;
    background: #ebeff2;
}
body {
    min-height: 100%;
    background: #ebeff2;
}

/*HEADER PRO STRANKY FORUM, REGISTRACE, LOG IN*/
.top-menu-forum {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
    text-align: center;
    font-weight: 900;
}
.logo {
    display: inline-block;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    font-size: 50px;
}
/*------------------------------------------------------------------------*/
/*STRANKA FORUM*/
.forum{
    padding-top: 2%;
}
.page-wrapper{
    min-height: 100%;
}
/*tlacitko return home. Pouziva se na strankach Registrace a Forum*/
#return{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #FFFFFF 5%,indianred  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
/*horni fieldset */
#pole1{
    position: absolute;
    right: 20%;
    left: 20%;
    height: 60%;
    padding-bottom: 1%;
    background: rgba(255, 52, 0, 0.59);
    border: 2px solid;
    z-index: 2;
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.48);
}
/*dolni fieldset*/
#pole2{
    margin-bottom: 2%;
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 0;
    height: 64px;
    background: rgba(255, 52, 0, 0.59);
    border: 2px solid black;
    padding: 10px;
    z-index: 2;
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.48);

}
/*pole pro vypis komentaru na strance Forum, nebo pole pro Registrace a SIGN IN*/
#text-wrap1 {
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    height: 100%;
    margin: auto 0;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 254, 254, 0.61);
    overflow: hidden;
    text-align: left;
    overflow-y: auto;
    word-wrap: break-word;
    display: block;
}
/*pole pro zapis komentaru*/
#text-wrap2 {
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    height: 60px;
    margin: auto 0;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 254, 254, 0.61);
    overflow: hidden;
}


/*tlacitko send na Forum*/
.odeslat{
    font-size: 20px;
    margin-left: 83%;
    padding: 10px;
    margin-top: 1%;
    width: 110px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #FFFFFF 5%, indianred  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
/*okinko "user" ktery je prave prihlasen na Forum */
.user{
    text-align: center;
    font-size: 15px;
    margin-top: 1%;
    padding: 10px;
    width: 120px;
    height: 30px;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #FFFFFF 5%, indianred  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
/*leva strana text-wrap1*/
#leftstr {
    float: left;
    width: 50%;
}
/*prava strana text-wrap1*/
#rightstr {
    text-align: right;
    margin-top: 20px;
}

/*textarea pro nechavani komentaru*/
textarea{
    width: 97%;
    position: absolute;
    height: 75%;
}

